/EFCoreCodeFirstSample/.vs
/EFCoreCodeFirstSample/EFCoreCodeFirstSample/obj
/EFCoreCodeFirstSample/EFCoreCodeFirstSample/bin
EFCoreCodeFirstSample/EFCoreCodeFirstSample/obj
EFCoreCodeFirstSample/EFCoreCodeFirstSample/bin
/bin/
/obj/
